<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380841234860-isfur8e41j5kh3vvptfhmjss276tb9am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380841234860-isfur8e41j5kh3vvptfhmjss276tb9am</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7Bbo-eHxjH3JsK-zvTuM2y4EBu9mekw</string>
	<key>GCM_SENDER_ID</key>
	<string>380841234860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akhtemob.sheridancollege.ca.OneShop</string>
	<key>PROJECT_ID</key>
	<string>oneshopproject-d84a5</string>
	<key>STORAGE_BUCKET</key>
	<string>oneshopproject-d84a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380841234860:ios:fb5b736797b64ebff46a09</string>
</dict>
</plist>